{% extends "base.html" %}
{% block contenido %}

    <h2>Nuevo contacto</h2>
    <form method="POST">
        <label for="">Nombre:</label>
        <input type="text" name="nombre" required>
        <br><br>

        <label for="">Correo:</label>
        <input type="email" name="correo" required>
        <br><br>

        <label for="">Teléfono:</label>
        <input type="text" name="telefono">
        <br><br>

        <button type="submit">Guardar</button>
        
        <ul>
            <li>
                <a href="/">volver</a>
            </li>
        </ul>
        

    </form>

{% endblock %}