<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Contactos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>

    <h1>Bienvenido al Sistema de Contactos</h1>

    <p>Proyecto flask paso a paso</p>

    <ul>
        <li>
            <a href="/contactos" class="contacto">Contactos</a>
            <br><br><br>
        </li>
        <li>
            <a href="/agregar" class="agregar">Agregar un contacto</a>
        </li>
    </ul>
</body>
</html>